html, body, #root {
    height: 100%; /* Make the page take full height */
    margin: 0;
  }

  
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the page takes full viewport height */
  }
  
  main {
    flex: 1; /* Pushes the footer to the bottom */
  }
  
  