@font-face {
    font-family: Met;
    src: url("../src/assets/fonts/Metropolis-Regular.ttf");
}

@import "tailwindcss";

@theme{
    --font-met:Met,'sans-serif';
}

/* Hide scrollbar for all browsers */
.scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  
  /* Add animation for the bounce effect */
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
